@charset "UTF-8";

nav {
  font-size: 22px;
  margin: 0.3% 20%;
}
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap");
body {
  font-family: "Noto Sans KR", sans-serif;
}

main {
  margin: 0 20%;
}

footer {
  margin: 0 20%;
  font-size: 16px;
}